body{
  min-height: 40rem;
	width: 100%;
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../img/fondo.jpg);
}

.barra-superior{
	min-height: 6rem;
}

.logo{
	margin-left: 0.5rem;
	width: 100px;
	float: left;
}

.frase{
	text-align: center;
	font-size: 15px;
	font-style: italic;
}

div[class*="columna"]{
	padding: 0;
	min-height: 50rem;
}

div[class*="bloque"]{
	height: 25rem;
}

.columna-redes{
	min-height: 50rem!important;
	margin-top: 2rem;
}

.icons-redes{
	margin-top: 2rem;
	width: 40px;
}

.collection{
	border: 0!important;
}

.collection-item{
	border: 0!important;
}

.columna-fotos{
	margin-top: 1rem;
}

.fotos{
	width: 100%;
}

.columna-publicacion{
	margin-top: 1rem;
}

.contenedor-texto{
	float: right;
}

p{
	text-align: justify;
	word-spacing: 2px;
}

.responsive-video{
	margin: 0.5rem !important;
	float: left;
	width: 30%;
}

.img-publicacion{
	margin: 0.5rem !important;
	float: left;
	width: 30%;
}

.columna-autor{
	float: right;
	max-width: 20rem;
	margin-top: 1rem;
}

.columna-comentarios{
	margin-top: 1rem;
	border-radius: 5px;
}

.contenedor-botones{
	margin-right: 2rem;
}

@media(max-width: 600px) {
	.responsive-video{
		margin-left: 0.2rem !important;
		width: 100%;
	}
	.img-publicacion{
		margin-left: 0.2rem !important;
		width: 100%;
	}
}
